@import url('https://fonts.googleapis.com/css2?family=BenchNine:wght@300;400;700&display=swap');

* {
    font-family: 'BenchNine', sans-serif;  
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

body {
    background: no-repeat url(https://okdiario.com/img/2021/02/29/nubes-655x368.jpg);
    background-size: cover;
    height:3100px;
}

header {
    display: flex;
    position: fixed;
    width: 100%;
    height: 100px;
    padding: 10px 10px;
    background: #FFFFFF;
}

.dropdown {
    display: inline-block;
    position: relative;
}
  
.dropdown .boton {
    margin-top: 40px;
    background: url(menu_desplegable_negro.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 50px;
    height: 25px;
    transition: 0.5s;
}

.dropdown .boton:hover {
    margin-top: 40px;
    background: url(menu_desplegable_color1.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 50px;
    height: 25px;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    width: 220px;
    background-color: #fff;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
}
  
.dropdown:hover .dropdown-content {
    display: block;
}
  
.dropdown-content a {
    display: block;
    color: #000000;
    padding: 5px;
    text-decoration: none;
    width: 100%;
    font-size: 20px;
}
  
.dropdown-content a:hover {
    color: #FFFFFF;
    background-color: #00A4BD;
    width: 100%;
}

header .logo {
    display: flex;
    justify-content: center;
    width: 100%;
}

header .logo img{
    display: flex;
    height: 100%;
    justify-content: center;

}

body hr {
    width: 100%;
    height: 120px;
    background: rgb(123, 171, 226);
}

body h1 {
    display: flex;
    width: 100%;
    justify-content: center;
    color: #070707;
    text-shadow: 3px 2px 5px;
    font-size: 50px;
}

.viaje{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100vh;
    padding: 10px 8% 0;
}

.contain-ciudades{
    display: flex;
    flex-wrap: wrap;   
    margin: 20px;
    gap: 20px;
    overflow: hidden;
}

.contain-ciudades div {
    border-radius: 10px;
    color: #070707;
    box-shadow: 10px 1px 10px;
    width: 300px;
    height: 250px;
    margin: 10px;
    transition: 0.3s;
}

.contain-ciudades div:hover {
    transform: scale(1.03);
}

.contain-ciudades h2 {
    color: #fff;
    font-size: 30px;
    letter-spacing: 2px;
    text-shadow: 3px 2px 5px #000;
}

.contain-ciudades a{
    text-decoration: none;
}

.contain-ciudades .cartagena {
    background-image: url(../img/home/cartagena.jpeg);
    background-size: cover;
}

.contain-ciudades .santa-marta {
    background-image: url(../img/home/PYN4DGDFDBF7RIZZWPFKCBVY6Y.avif);
    background-size: cover;
}

.contain-ciudades .san-andres {
    background-image: url(../img/home/san\ andres.jpg);
    background-size: cover;
}

.contain-ciudades .eje-cafetero {
    background: url(../img/home/eje\ cafetero.jpg);
    background-size: cover;
}

.contain-ciudades .medellin {
    background: url(../img/home/medellin.jpg);
    background-size: cover;
}
.contain-ciudades .capurgana {
    background: url(../img/home/capurgana.jpg);
    background-size: cover;
}
.contain-ciudades .guatape {
    background: url(../img/home/guatape.jpg);
    background-size: cover;

}

.contain-ciudades .jardin {
    background: url(../img/home/jardin.jpg);
    background-size: cover; 

}
.contain-ciudades .isla-fuerte {
    background: url(../img/home/islafuerte.jpg);
    background-size: cover;
}
.contain-ciudades .cali {
    background: url(../img/home/cali.jpeg);
    background-size: cover;
}